@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body,
html {
	margin: 0;
	overflow: hidden;
	font-family: "Atkinson Hyperlegible";
}

#board {
	width: 100%;
	height: 100%;
}

#start {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: fit-content;
	width: 40vw;
	display: flex;
}

#start-menu {
	width: 40vw;
	height: fit-content;
	padding: 10% 0;
	box-sizing: border-box;
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#title {
	font-size: 670%;
	text-align: center;
	margin: 3%;
	line-height: 90%;
}

#play {
	width: 80%;
	font-family: "Atkinson Hyperlegible";
	font-size: 300%;
	font-weight: bold;
	letter-spacing: 5px;
	color: #eee;
	background-color: #0007;
	padding: 2% 4%;
	border: none;
	border-radius: 10px;
}

#play:hover {
	cursor: pointer;
	background-color: #000a;
}

#play:active {
	background-color: #000d;
}

#credit {
	font-size: 80%;
}

#credit a {
	color: #eee;
	font-size: 200%;
}

.SC {
	font-size: 70%;
}

#start-overlay {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40vw;
	height: 100%;
	background-color: #000a;
	filter: blur(10px);
	border-radius: 50px;
}